* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("pexels.jpg.webp");
}

.container {
    background-color: #534b09a9;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #fdfafa;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    display: block;
    color: #fbf8f8;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    background-color: #131414;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e7cf19;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.view-link {
    display: inline-block;
    margin: 10px 0;
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.view-link:hover {
    background-color: #0056b3;
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container styling */


/* Header */



/* Result card */
.result-card {
    background-color: #e7f4fc;
    border: 1px solid #b3e5fc;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;

}

.result-card p {
    margin: 10px 0;
    color: #f7f3f3;
}

.result-card strong {
    color: #007BFF;
}

/* Back link styling */
.back-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #0f0f10;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #f89d0a;
}
